<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".core.RedPlaneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedPlane"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ui.AirportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AirplaneActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <service
            android:name=".gates.GateService"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/aviation" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/hope" />
    </application>

</manifest>